body {
    background-color: rgb(46, 44, 44);
    color: rgb(220, 220, 220);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

h1, h2, h3 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255); 
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0s;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(200, 200, 200);
    font-size: 30px;
    margin-top: -20px;
    font-style: italic;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}
h3 {
    margin-top: -20px;
    font-style: italic;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2s;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 3s;
}

ul li {
    margin: 0 15px;
}

img{
    width: 30px;
    height: 30px;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
    
}

a:hover {
    color: rgb(255, 215, 0);
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
